@media (max-width: 1200px) {
  .mobile {
    .mobile-item {
      width: 300px;
      height: 275px;
    }
  }
  .promo {
    .promo-header {
      font-size: 50px;
    }
  }
  .footer {
    .social {
      display: flex;
      justify-content: center;
    }
    .col-center-text {
      font-size: 14px;
    }
  }
}
@media (max-width: 991px) {
  .menu {
    padding: 13px 50px;
    .menu-link {
      font-size: 12px;
    }
  }
  .promo {
    .promo-header {
      font-size: 40px;
    }
    .promo-subheader {
      font-size: 30px;
    }
  }
  .subheader {
    .subheader-logo {
      font-size: 22px;
    }
    .subheader-phone {
      font-size: 16px;
    }
    .subheader-button {
      width: 100%;
      height: 38px;
      margin-top: 25px;
    }
  }
  .mobile {
    .container {
      max-width: 770px;
    }
    .mobile-item {
      width: 235px;
      height: 275px;
    }
    .mobile-item-subtitle {
      font-size: 18px;
    }
  }
  .car {
    .car-img {
      width: 640px;
    }
  }
  .require {
    .require-list li {
      font-size: 15px;
    }
  }
  .footer {
    .social {
      justify-content: space-around;
    }
    .col-center-text {
      font-size: 12px;
      div {
        margin: 0 4px;
      }
    }
    .footer-social {
      .footer-social-item {
        width: 26px;
        height: 26px;
      }
      img {
        width: 35px;
      }
    }
    .app-link img {
      width: 85px;
      height: 29px;
    }
  }
}
@media (max-width: 768px) {
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    transition: 0.6s all;

    .menu-item {
      padding-right: 0;
      border: none;
      margin: 10px 0;
    }
    .menu-link {
      font-size: 20px;
    }
  }

  .menu-active {
    left: 0;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 25px;
    top: 28px;
    transform: translateY(-50%);
    width: 26px;
    span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #fff;
      margin-bottom: 6px;
      transition: 0.5s all;
    }
  }
  .hamburger-active {
    span {
      margin-bottom: -3px;
      &:nth-child(1) {
        transform: rotate(-45deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        transform: rotate(45deg);
      }
    }
  }
  .modal-window {
    left: 68%;
    top: 50%;
    width: 30%;
    padding: 1rem;
  }
  .close-modal-window {
    top: -0.8rem;
    right: 1rem;
  }
  .subheader {
    .subheader-phone {
      font-size: 16px;
      margin-top: 6px;
      text-align: center;
    }
    .subheader-button {
      width: 66%;
      height: 37px;
      margin-top: 5px;
      margin-left: 44px;
    }
    .promo {
      .promo-header {
        font-size: 30px;
      }
      .promo-subheader {
        font-size: 25px;
      }
    }
  }
  .mobile {
    .mobile-item {
      width: 100%;
    }
  }
  .car {
    .car-img {
      width: 510px;
      margin: 110px auto 0 auto;
    }
    .auto-footer {
      font-weight: 400;
      font-size: 18px;
      margin-top: 25px;
    }
  }
  .footer {
    .footer-social {
      .footer-social-item {
        margin: 0px 5px;
        img {
          width: 20px;
        }
      }
    }
    .app-link {
      img {
        width: 55px;
        height: 20px;
      }
    }
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
}
@media (max-width: 575px) {
  nav {
    height: 30px;
  }
  .hamburger {
    top: 17px;
    width: 23px;
  }
  .menu {
    .menu-link {
      font-size: 16px;
    }
  }
  .subheader {
    .subheader-logo {
      font-size: 15px;
    }
    .subheader-logo {
      .my-logo {
        width: 25px;
      }
    }
    .subheader-phone {
      font-size: 14px;
    }
    .subheader-button {
      width: 90%;
      height: 40px;
      margin-top: 5px;
      margin-left: 7px;
      font-size: 12px;
    }
  }
  .promo {
    .promo-header {
      font-size: 35px;
    }
    .promo-subheader {
      font-size: 25px;
    }
    .promo-descr {
      font-size: 14px;
    }
  }
  .element-show {
    font-size: 16px;
  }
  .car {
    min-height: 650px;
    .black-back {
      height: 475px;
      bottom: 230px;
    }
    .car-img {
      width: 290px;
    }
  }
  .text-advance {
    font-size: 21px;
  }
  .require {
    .require-title {
      font-size: 18px;
    }
    .require-list li {
      font-size: 12px;
      &::before {
        left: -18px;
        top: 3px;
        width: 15px;
        height: 15px;
      }
    }
  }
  .footer {
    .footer-social {
      justify-content: center;
      margin-top: 10px;
      width: 100%;
      order: 1;
    }
    .col-center-text {
      width: 100%;
    }
    .app-link {
      margin-top: 10px;
      justify-content: center;
      width: 100%;
      order: 2;
      img {
        width: 75px;
        height: 25px;
      }
    }
    .last-element {
      font-size: 8px;
      margin-top: 21px;
      margin-bottom: 10px;
    }
  }
}
